<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE EMPLEADOS</span>
                    <button class="btn btn-success float-end" routerLink="crear-empleado">NUEVO</button>
                    
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Domicilio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Natalia</td>
                            <td>Amaya</td>
                            <td>27062096</td>
                            <td>Palacios 259. Gutierrez</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Gabriel</td>
                            <td>Arias</td>
                            <td>39992670</td>
                            <td>Estepe 444. Villa Nueva</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                       
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
